/* Nav Logo */
nav .brand-logo {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

/* Cards */
.fact-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries */
/* Nav */
@media only screen and (max-width: 450px) {
    nav .brand-logo {
        font-size: 1.4rem;
    }
  }